.aboutInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    min-height: 50vh;
}

.aboutText {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 0 2rem;
    background-color: var(--color-gray);
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.aboutTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.myFace {
    height: 35vh;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}