@import url("../components/historyComponent.css");

.historySection {    
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 87.5rem;
    margin: 0rem auto;
    padding: 0 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.historyWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}