@import url("../styles/pages/about.css");

@font-face {
    font-family: "BMJUA";
    src: url("../assets/fonts/BMJUA.ttf");
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #808080;
    --color-hover: #adff2f;
}

* {
    font-family: "BMJUA";
    color:  var(--color-white);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
    overflow-y: scroll;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 1000;
    background-color: var(--color-gray);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0.6;
}

nav {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    background-color: transparent;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    color: var(--color-hover);
}