@import url("../styles/components/navigation.css");
@import url("../styles/pages/about.css");
@import url("../styles/pages/history.css");
@import url("../styles/pages/skill.css");

@font-face {
    font-family: "BMJUA";
    src: url("/src/assets/fonts/BMJUA.ttf");
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: rgba(211, 211, 211, 0.5);
    --color-hover: #adff2f;
    --color-hover-gray: rgba(51, 51, 51, 0.8);
    --color-vertical-line: rgba(255, 255, 255, 0.5);
    --color-skill-border: rgba(255, 255, 255, 0.2);
}

* {
    font-family: "BMJUA";
    color:  var(--color-white);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
    overflow-y: scroll;
    margin: 0;
}

h1 {
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 87.5rem;
    margin: 6rem auto;
    padding: 0 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}