@import url("../styles/pages/about.css");
@import url("../styles/pages/history.css");

@font-face {
    font-family: "BMJUA";
    src: url("/src/assets/fonts/BMJUA.ttf");
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: rgba(211, 211, 211, 0.5);
    --color-hover: #adff2f;
    --color-hover-gray: rgba(51, 51, 51, 0.8);
}

* {
    font-family: "BMJUA";
    color:  var(--color-white);
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-black);
    overflow-y: scroll;
}

h1 {
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 1000;
    background-color: var(--color-gray);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    display: inline-block;
    padding: 0 2rem;
    background-color: transparent;
}

nav a {
    margin: 0 0.8rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    text-decoration: none;
    font-size: 1.4rem;    
}


nav a:hover {
    color: var(--color-hover);
    background-color: var(--color-hover-gray);
    padding: 1rem 1.2rem;
}